html

body
  margin: 0
  font-family: Roboto
  background: #fff

#root
  height: inherit
  .app-main
    display: flex
    align-items: stretch
    min-height: calc(100vh - 80px)

    & > .panel
      box-sizing: border-box
      width: 100%
      padding: 10px
      color: white
      font-size: 20px
      background: #eee